Python speed test started at server date and time: 2024-11-03 00:45:11 <br />The Python Speed test took: 6.568992 seconds to complete. <br />Python speed test ended at server date and time: 2024-11-03 00:45:17 <br />--------------------------------------------------------- <br />Rust speed test started at server date and time: "2024-11-03 00:45:22" <br />
The Rust Speed test took: 6.648717625s to complete. <br />
Rust speed test ended at server date and time: "2024-11-03 00:45:29" <br />
--------------------------------------------------------- <br />
Python speed test started at server date and time: 2024-11-03 00:45:32 <br />The Python Speed test took: 7.18008 seconds to complete. <br />Python speed test ended at server date and time: 2024-11-03 00:45:39 <br />--------------------------------------------------------- <br />Rust speed test started at server date and time: "2024-11-03 00:45:43" <br />
The Rust Speed test took: 6.821240042s to complete. <br />
Rust speed test ended at server date and time: "2024-11-03 00:45:50" <br />
--------------------------------------------------------- <br />
Python speed test started at server date and time: 2024-11-03 00:45:57 <br />The Python Speed test took: 7.395675 seconds to complete. <br />Python speed test ended at server date and time: 2024-11-03 00:46:04 <br />--------------------------------------------------------- <br />Rust speed test started at server date and time: "2024-11-03 00:46:07" <br />
The Rust Speed test took: 6.708226834s to complete. <br />
Rust speed test ended at server date and time: "2024-11-03 00:46:14" <br />
--------------------------------------------------------- <br />
